---
import { Image } from "astro:assets";
import weirdWorld from "@assets/graphics/weird-world.png";

import booferL from "@assets/graphics/boofer-l.webp";
import booferR from "@assets/graphics/boofer-r.webp";
import booferDk from "@assets/graphics/boofer-dark.webp";
import boofer from "@assets/graphics/boofer.webp";
---

<section class="flex flex-col gap-y-8 bg-grey-50 sm:gap-y-10">
  <section class="wrapper base inner-section pt-10 xl:pt-16">
    <div class="img-col">
      <Image
        src={weirdWorld}
        alt="A homonculus with a sword jumping through a big red circle in front of the words 'Shoot, Parry & Slash'."
        loading="lazy"
        class="w-full"
        width={628}
        height={205}
      />
    </div>
    <div class="content-col sm:col-start-5 lg:col-start-6 2xl:col-start-7">
      <h2 class="heading">
        Discover the mystic science powering your homunculi and the strange symbiosis enhancing the
        growing sentience within.
      </h2>
    </div>
  </section>

  <section class="wrapper inner-section img-grid">
    <Image src={booferL} alt="" class="img end" loading="lazy" width={240} height={411} />
    <Image src={boofer} alt="" class="img outer" loading="lazy" width={240} height={411} />
    <Image src={booferDk} alt="" class="img center" loading="lazy" width={240} height={411} />
    <Image src={boofer} alt="" class="img outer" loading="lazy" width={240} height={411} />
    <Image src={booferR} alt="" class="img end" loading="lazy" width={240} height={411} />
  </section>
</section>

<style>
  .inner-section {
    @apply place-items-center pb-10 xl:pb-16;
  }

  .heading {
    @apply text-center text-base font-medium text-grey-900 sm:text-left lg:text-xl xl:text-2xl 2xl:text-3xl;
  }

  .img-grid {
    @apply mx-auto grid w-fit grid-cols-5 gap-2 sm:gap-4 2xl:gap-5;
  }

  .img {
    @apply h-auto w-[3.875rem] sm:w-[6.375rem] md:w-[7.8125rem] lg:w-[10.625rem] 2xl:w-[13.3125rem] 3xl:w-[15rem];
  }

  .center {
    -webkit-animation: pulsate-fwd 2s linear infinite both;
    animation: pulsate-fwd 2s linear infinite both;
  }

  .outer {
    -webkit-animation: pulsate-back 2s linear infinite both;
    animation: pulsate-back 2s linear infinite both;
  }

  .end {
    -webkit-animation: pulsate 2s linear infinite both;
    animation: pulsate 2s linear infinite both;
  }
</style>
