---
import { getEntry } from "astro:content";

import Page from "@layouts/Page.astro";

const { data } = await getEntry(`privacy`, `index`);

const date = new Date(data.lastUpdated).toLocaleDateString(`en-us`, {
  year: `numeric`,
  month: `long`,
  day: `numeric`,
});
---

<Page title={data.title} description={data.description}>
  <article class="body">
    <section class="flex w-fit flex-col gap-y-3 text-center">
      <h1 class="text-5xl font-xbold sm:text-6xl md:text-7xl">{data.title}</h1>
      <p class="text-sm italic md:text-base">Last updated: {date}</p>
    </section>
    {
      data.policy.map((section) => (
        <section class="policy-section">
          <h2>{section.heading}</h2> <div set:html={section.body} class="content" />
        </section>
      ))
    }
  </article>
</Page>

<style>
  .body {
    @apply mx-auto flex w-full max-w-[57rem] flex-col items-center space-y-10 px-[6.1%] pb-24 pt-14 sm:px-[5%] md:space-y-14 md:px-[5.2%] md:pb-32 md:pt-16 lg:px-0;
  }

  .policy-section {
    @apply flex flex-col gap-y-2 md:gap-y-2.5;

    h2 {
      @apply text-3xl font-bold text-grey-100 sm:text-4xl md:text-5xl;
    }
  }

  .content {
    @apply flex flex-col gap-y-3 text-sm md:text-base;
  }
</style>
